@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix"; 

// PALETA DE CORES
$white: #FFFFFF;
$black: #000000;


// Color of website
$color01 : #F3F0F0; // Background 01
$color02 : #504A46; // Color font title
$color03 : #EC6F66; // Color link hover
$color04 : #e0e0e0; // Color border div

// Color Flat Sublime 
$color05 : #4A4A4A; // Color bg sublime
$color06 : #E5C689; // Color text code 1
$color07 : #389ABE; // Color text code 2
$color08 : #D4D4D4; // Color bg title
$color09 : #F2F2F2; // Color icons close, maximize, minimize

// Botao
$color10 : #CD624E; // Color background Botao

// shares 
$color11 : #4099FF; // Color Twitter
$color12 : #E9EAED; // Color Facebook
$color13 : #F6F6F6; // Color Git hub
$color14 : #1B86BC; // Color Linkedin