@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

@mixin font-1 {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
}

@mixin font-2 {
	font-family: 'Open Sans', sans-serif;
}