@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700italic,700,400italic);
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../sass/layout/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 9, ../../sass/layout/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 13, ../../sass/layout/_helpers.scss */
.ir-input {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  line-height: 0;
}

/* line 22, ../../sass/layout/_helpers.scss */
.expand {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 30, ../../sass/layout/_helpers.scss */
.d-none {
  display: none;
}

/* line 34, ../../sass/layout/_helpers.scss */
.full-width {
  width: 100%;
}

/* line 38, ../../sass/layout/_helpers.scss */
.full-height {
  height: 100%;
}

/* line 42, ../../sass/layout/_helpers.scss */
.cursor {
  cursor: pointer;
}

/* line 47, ../../sass/layout/_helpers.scss */
.grid-920 {
  width: 920px;
  margin: 0 auto;
}

/* line 52, ../../sass/layout/_helpers.scss */
.wrapper {
  width: 85.33333em;
  margin: 0 auto;
}

/* line 8, ../../sass/pages/global.scss */
body {
  font-size: 12px;
  background: #f3f0f0;
}

/* line 13, ../../sass/pages/global.scss */
a {
  text-decoration: none;
}

/* line 18, ../../sass/pages/global.scss */
#wrap-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #f3f0f0;
}
/* line 26, ../../sass/pages/global.scss */
#wrap-loader p {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #E45A4C;
  font-size: 1.16667em;
  padding-bottom: 4.16667em;
  position: absolute;
  bottom: 100px;
  background: url("../../../static/images/global/load.gif") no-repeat center bottom;
}

/* line 40, ../../sass/pages/global.scss */
ul li.item-list {
  position: relative;
}
/* line 42, ../../sass/pages/global.scss */
ul li.item-list ul.sub {
  display: none;
  position: absolute;
}
/* line 51, ../../sass/pages/global.scss */
ul li.item-list:hover ul.sub {
  display: block;
}

/* line 57, ../../sass/pages/global.scss */
.pages {
  z-index: 10;
  position: relative;
}

/* line 64, ../../sass/pages/global.scss */
h2.title-section {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  color: #4a4a4a;
  padding-bottom: 1.2em;
}

/* line 74, ../../sass/pages/global.scss */
#header {
  background: #f3f0f0;
  overflow: hidden;
  position: fixed;
  top: -5.4em;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  height: 5em;
  z-index: 99;
  -webkit-transition: top 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: top 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: top 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: top 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: top 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/* line 85, ../../sass/pages/global.scss */
#header.fixed {
  top: 0;
}
/* line 90, ../../sass/pages/global.scss */
#header .wrap-header {
  overflow: hidden;
}
/* line 94, ../../sass/pages/global.scss */
#header h1.logo-name {
  float: left;
}
/* line 98, ../../sass/pages/global.scss */
#header nav#menu {
  float: right;
}
/* line 102, ../../sass/pages/global.scss */
#header nav#menu ul li {
  float: left;
  margin-right: 1.5em;
  height: 5em;
  line-height: 5em;
}
/* line 108, ../../sass/pages/global.scss */
#header nav#menu ul li:last-child {
  margin-right: 0;
}
/* line 112, ../../sass/pages/global.scss */
#header nav#menu ul li a.link-menu {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  color: #504a46;
  font-size: 1.66667em;
}
/* line 117, ../../sass/pages/global.scss */
#header nav#menu ul li a.link-menu:hover {
  color: #ec6f66;
  -webkit-transition: 0.55s;
  -o-transition: 0.55s;
  -ms-transition: 0.55s;
  -moz-transition: 0.55s;
  transition: 0.55s;
}

/* line 129, ../../sass/pages/global.scss */
#home {
  background: #f3f0f0;
}
/* line 131, ../../sass/pages/global.scss */
#home .wrap-home {
  overflow: hidden;
  max-height: 17.33333em;
  width: 68.16667em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -34.08333em;
  margin-top: -8.66667em;
}
/* line 140, ../../sass/pages/global.scss */
#home .wrap-home img {
  float: left;
}
/* line 144, ../../sass/pages/global.scss */
#home .wrap-home .titles {
  float: left;
  padding-top: 4.33333em;
  margin-left: 7.16667em;
}
/* line 148, ../../sass/pages/global.scss */
#home .wrap-home .titles h1, #home .wrap-home .titles h2 {
  color: #504a46;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}
/* line 155, ../../sass/pages/global.scss */
#home .wrap-home .titles h1.title-01 {
  font-size: 4em;
  padding-bottom: 0.4em;
}
/* line 160, ../../sass/pages/global.scss */
#home .wrap-home .titles h2.tilte-02 {
  font-size: 2.58333em;
}
/* line 166, ../../sass/pages/global.scss */
#home a.btn-scroll {
  position: absolute;
  color: #ec6f66;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  bottom: 2em;
  max-width: 4em;
  left: 50%;
  margin-left: -2em;
  min-height: 3.5em;
  cursor: pointer;
}
/* line 180, ../../sass/pages/global.scss */
#home a.btn-scroll i.icon-btn-arrow {
  width: 1em;
  height: 1em;
  position: absolute;
  border-left: 3px solid #ec6f66;
  border-bottom: 3px solid #ec6f66;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  bottom: 0;
  margin-left: -0.5em;
}

/* line 197, ../../sass/pages/global.scss */
#code-about {
  background: #ec6f66;
}
/* line 200, ../../sass/pages/global.scss */
#code-about .wrap-about {
  overflow: hidden;
  position: relative;
  height: 100%;
}
/* line 205, ../../sass/pages/global.scss */
#code-about .wrap-about .text-about {
  max-width: 25em;
  max-height: 34.75em;
  position: relative;
  top: 50%;
  margin-top: -17.375em;
  text-align: center;
}
/* line 212, ../../sass/pages/global.scss */
#code-about .wrap-about .text-about p {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1.8em;
  color: white;
  line-height: 1.6em;
}
/* line 219, ../../sass/pages/global.scss */
#code-about .wrap-about .text-about a.btn-work-me {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.4em;
  font-weight: 700;
  padding: 0.8em 0;
  border: 0.3em solid white;
  margin-top: 4em;
  display: inline-block;
  width: 13.83333em;
  -webkit-transition: color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -webkit-transition: border-color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: border-color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: border-color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: border-color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: border-color 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/* line 232, ../../sass/pages/global.scss */
#code-about .wrap-about .text-about a.btn-work-me:hover {
  color: #4a4a4a;
  border-color: #4a4a4a;
}
/* line 240, ../../sass/pages/global.scss */
#code-about .wrap-board {
  position: absolute;
  right: 0;
  bottom: -100%;
  -webkit-transition: bottom 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: bottom 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: bottom 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: bottom 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: bottom 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/* line 247, ../../sass/pages/global.scss */
#code-about .wrap-board.active {
  bottom: 0;
}
/* line 251, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content {
  background: #4a4a4a;
  border-radius: 5px 5px 0 0;
  width: 45em;
  height: 50em;
  position: relative;
  box-shadow: -1em 1em 0 rgba(0, 0, 0, 0.1);
}
/* line 259, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .title {
  background: #d4d4d4;
  padding: 1em 1em;
  border-radius: 5px 5px 0 0;
}
/* line 263, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .title p {
  width: 1em;
  height: 1em;
  background: #f2f2f2;
  display: inline-block;
  margin-right: 1em;
  border-radius: 1em;
}
/* line 273, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text {
  padding: 2em;
  max-width: 20em;
}
/* line 277, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p {
  height: 1em;
  display: inline-block;
  margin: 0 0.5em 0.6em 0;
}
/* line 282, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(1) {
  background: white;
  width: 2em;
}
/* line 287, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(2) {
  background: #e5c689;
  width: 7em;
}
/* line 292, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(3) {
  background: white;
  width: 4em;
}
/* line 297, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(4) {
  background: #389abe;
  width: 12em;
}
/* line 302, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(5) {
  background: #e5c689;
  width: 6em;
}
/* line 307, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(6) {
  background: white;
  width: 6em;
  display: block;
}
/* line 313, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(7) {
  background: white;
  width: 2em;
  margin-top: 2em;
}
/* line 319, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(8) {
  background: #e5c689;
  width: 4em;
  margin-top: 2em;
}
/* line 325, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(9) {
  background: #389abe;
  width: 12em;
  margin-top: 2em;
}
/* line 331, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(10) {
  background: #e5c689;
  width: 4em;
}
/* line 336, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(11) {
  background: white;
  width: 8em;
}
/* line 341, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(12) {
  background: #e5c689;
  width: 15em;
  display: block;
  margin-top: 2em;
}
/* line 348, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(13) {
  background: #389abe;
  width: 4em;
}
/* line 353, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(14) {
  background: white;
  width: 11em;
}
/* line 358, ../../sass/pages/global.scss */
#code-about .wrap-board .board-content .code-text p:nth-child(14) {
  background: #389abe;
  width: 2em;
  display: block;
  margin-top: 4em;
}

/* line 372, ../../sass/pages/global.scss */
#project {
  background: #f3f0f0;
  -webkit-box-shadow: inset 0 -0.4em 0 #e0e0e0;
  box-shadow: inset 0 -0.4em 0 #e0e0e0;
  z-index: 10;
  position: relative;
}
/* line 379, ../../sass/pages/global.scss */
#project .wrap-project {
  text-align: center;
}
/* line 381, ../../sass/pages/global.scss */
#project .wrap-project h2.title-section {
  text-align: center;
  padding-top: 2em;
}
/* line 386, ../../sass/pages/global.scss */
#project .wrap-project ul.lits-process {
  display: inline-block;
  margin: 5em 0 14em 0;
}
/* line 390, ../../sass/pages/global.scss */
#project .wrap-project ul.lits-process li {
  width: 25em;
  margin-right: 2em;
  float: left;
}
/* line 396, ../../sass/pages/global.scss */
#project .wrap-project ul.lits-process li:last-child {
  margin-right: 0;
}
/* line 400, ../../sass/pages/global.scss */
#project .wrap-project ul.lits-process li h3.title-process {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.16667em;
  font-weight: 700;
  color: #4a4a4a;
  padding: 1em 0 1em 0;
  text-transform: capitalize;
}
/* line 409, ../../sass/pages/global.scss */
#project .wrap-project ul.lits-process li p {
  font-family: 'Open Sans', sans-serif;
  color: #ec6f66;
  font-size: 1.4em;
  padding: 1em;
  line-height: 1.6;
}

/* line 422, ../../sass/pages/global.scss */
#works {
  background: #f3f0f0;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.3);
}
/* line 425, ../../sass/pages/global.scss */
#works .wrap-works {
  text-align: center;
}
/* line 427, ../../sass/pages/global.scss */
#works .wrap-works h2.title-section {
  text-align: center;
  padding-top: 2em;
}
/* line 432, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works {
  display: inline-block;
}
/* line 434, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li {
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 0.6em solid white;
  border-radius: 5px;
  -webkit-box-shadow: 0em 0.4em 0 #B5B5B5;
  box-shadow: 0 0.4em 0 #B5B5B5;
  position: relative;
  -webkit-transition: border-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: border-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: border-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: border-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: border-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/* line 445, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li h3.title-work {
  font-family: 'Open Sans', sans-serif;
  color: #ec6f66;
  font-size: 2.4em;
  font-weight: 800;
  background: white;
  padding: 0.5em 0 0.5em 0;
}
/* line 454, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item {
  width: 23em;
  height: 20em;
  overflow: hidden;
  line-height: 20em;
  background: #925743;
  position: relative;
}
/* line 462, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item.mytask {
  background: #4db672;
}
/* line 466, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item img {
  display: inline-block;
  vertical-align: middle;
}
/* line 471, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item .text {
  background: rgba(255, 255, 255, 0.99);
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  line-height: 20em;
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/* line 480, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item .text p {
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  font-size: 1.4em;
  line-height: 1.6em;
  display: inline-block;
  vertical-align: middle;
}
/* line 489, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item .text p span.btn {
  font-size: 0.8em;
  background: #cd624e;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0.22em 0.9em;
  box-shadow: 0 4px 0 #8E3728;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 18em;
  display: inline-block;
  -webkit-transition: background 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: background 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: background 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: background 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: background 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -webkit-transition: margin-top 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: margin-top 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: margin-top 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: margin-top 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: margin-top 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/* line 504, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li .wrap-item .text p span.btn:hover {
  background: #CA5642;
}
/* line 512, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li a.link-expand-text {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  display: block;
}
/* line 526, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li:hover .wrap-item .text {
  opacity: 1;
}
/* line 529, ../../sass/pages/global.scss */
#works .wrap-works ul.list-works li:hover .wrap-item .text span.btn {
  margin-top: 1em;
}

/* line 540, ../../sass/pages/global.scss */
#false-footer {
  height: 810px;
  z-index: 0;
  position: relative;
}

/* line 546, ../../sass/pages/global.scss */
#footer {
  width: 100%;
  height: 810px;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: url("../../images/global/bg-footer.jpg") no-repeat center;
  background-size: cover;
}
/* line 557, ../../sass/pages/global.scss */
#footer .wrap-footer {
  width: 90em;
  height: 20em;
  text-align: center;
  position: relative;
  top: 30%;
}
/* line 565, ../../sass/pages/global.scss */
#footer .wrap-footer .mini-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 3em;
}
/* line 574, ../../sass/pages/global.scss */
#footer .wrap-footer .line {
  width: 8em;
  border-bottom: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}
/* line 583, ../../sass/pages/global.scss */
#footer .wrap-footer p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.5em;
  line-height: 1.7em;
  max-width: 30em;
  margin: 4em 0;
  display: block;
  margin: 0 auto;
}
/* line 594, ../../sass/pages/global.scss */
#footer .wrap-footer h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 8.33333em;
  color: white;
  font-weight: 700;
  font-style: italic;
}
/* line 602, ../../sass/pages/global.scss */
#footer .wrap-footer ul.shares {
  display: inline-block;
  margin-top: 8em;
}
/* line 605, ../../sass/pages/global.scss */
#footer .wrap-footer ul.shares li {
  margin: 0 2em 1em 0;
  float: left;
}
/* line 608, ../../sass/pages/global.scss */
#footer .wrap-footer ul.shares li:last-child {
  margin-right: 0;
}
/* line 611, ../../sass/pages/global.scss */
#footer .wrap-footer ul.shares li a {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1em;
  -webkit-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -o-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -ms-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  -moz-transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  transition: opacity 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
  color: white;
  font-size: 4em;
  opacity: 0.5;
}
/* line 636, ../../sass/pages/global.scss */
#footer .wrap-footer ul.shares li a:hover {
  opacity: 1;
}
